global:
  scrape_interval:     15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: node_pi
    static_configs:
      - targets: ['localhost:9100']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'pi'

  - job_name: node_pc
    static_configs:
      - targets: ['{{ pc.ip }}:9100']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'pc'
