StrictHostKeyChecking=accept-new

Host {{ backup_server.name}}
  Hostname {{ backup_server.hostname}}
  User {{ backup_server.user }}
{% if desktop %}

Host {{ home_server.hostname}}
  User {{ home_server.user }}
{% endif %}
