---
- name: provision infrastructure
  hosts: all
  pre_tasks:
    - name: merge common vars with host-specific ones
      loop: "{{ (common_vars | merge_dicts(host_vars) if host_vars is defined else common_vars) | dict2items }}"
      set_fact:
        "{{ item.key }}": "{{ item.value }}"
      tags: always

    - name: update the package manager cache
      become: true
      package:
        update_cache: true
      changed_when: false
      tags:
        - network
        - packages
  roles:
    # establish connection to the internet, enable the firewall and establish ssh connection to the home server
    - role: network
      tags: network

    # install all of the required packages from various sources
    - role: packages
      tags: packages

    # check if the home server backup has been restored and set up syncthing directories for pc
    - role: file-sync
      tags: file-sync

    # clone personal git repositories from the home server & configure them
    - role: git-repos
      tags: git-repos

    # set up any required configuration files
    - role: config
      tags: config

    # configure and enable any necessary services
    - role: services
      tags: services
