---
# system
- name: (hs) configure the tailscale repository
  when: inventory_hostname == "home_server"
  become: true
  deb822_repository:
    name: tailscale
    state: present
    types: [deb]
    uris: "https://pkgs.tailscale.com/stable/raspbian"
    suites: ["{{ ansible_facts['distribution_release'] | lower }}"]
    components: [main]
    signed_by: "https://pkgs.tailscale.com/stable/raspbian/{{ ansible_facts['distribution_release'] | lower }}.noarmor.gpg"
    install_python_debian: true
- name: (hs) run system update
  when: inventory_hostname == "home_server"
  become: true
  apt:
    upgrade: dist
- name: (pc) run system update
  when: inventory_hostname == "pc"
  become: true
  pacman:
    upgrade: true
- name: install target system packages
  become: true
  package:
    state: present
    name: "{{ package_list.system.values() | list | flatten }}"

- name: (hs) skip flatpak and aur packages
  when: inventory_hostname == "home_server"
  meta: end_role

# flatpak
- name: delete the system flathub remote
  become: true
  flatpak_remote:
    state: absent
    name: flathub
- name: set up the user flathub remote
  flatpak_remote:
    name: flathub
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user
- name: install/update flatpak apps
  flatpak:
    method: user
    state: latest
    name: "{{ package_list.flatpak }}"

# aur
- name: set makepkg config to use doas for privilege escalation
  lineinfile:
    create: true
    path: "{{ ansible_facts.env.HOME }}/.makepkg.conf"
    regex: ^PACMAN_AUTH=.*$
    line: "PACMAN_AUTH=('doas')"
- name: gather aur package facts
  package_facts:
- name: install/update aur packages
  loop: "{{ package_list.aur }}"
  include_tasks: aur-pkg.yml
  vars:
    package_name: "{{ item }}"
