---
- name: set up various config files
  loop:
    - {src: gitconfig.j2, dest: .gitconfig}
    - {src: ssh-config.j2, dest: .ssh/config}
  template:
    src: "{{ item.src }}"
    dest: "{{ ansible_facts.env.HOME }}/{{ item.dest }}"

- name: create ~/.config directory for both users
  loop:
    - {path: /root, become: true}
    - {path: "{{ ansible_facts.env.HOME }}", become: false}
  become: "{{ item.become }}"
  file:
    state: directory
    path: "{{ item.path }}/.config"

- name: set up zsh for both users
  loop:
    - {user: root, home: /root, become: true}
    - {
      user: "{{ ansible_facts.env.USER }}",
      home: "{{ ansible_facts.env.HOME }}",
      become: false
    }
  include_tasks: zsh.yml
  args:
    apply:
      become: "{{ item.become }}"

- name: symlink the neovim binary to vim
  become: true
  file:
    state: link
    src: /usr/bin/nvim
    dest: /usr/bin/vim

- name: (pc) set up neovim
  when: inventory_hostname == "pc"
  include_tasks: nvim.yml

- name: (pc) set up vdirsyncer
  when: inventory_hostname == "pc"
  include_tasks: vdirsyncer.yml

- name: (pc) add user to the docker group
  when: inventory_hostname == "pc"
  become: true
  user:
    name: "{{ ansible_facts.env.USER }}"
    groups: docker
    append: true

- name: (pc) enable sddm autologin
  when: inventory_hostname == "pc"
  become: true
  blockinfile:
    create: true
    path: /etc/sddm.conf.d/kde_settings.conf
    block: |
      [Autologin]
      Relogin=false
      Session=plasmax11
      User={{ ansible_facts.env.USER }}
