---
- name: add dav password to the python keyring
  environment:
    DAV_USER: "{{ secrets.dav.username }}"
    DAV_PASSWORD: "{{ secrets.dav.password }}"
  script:
    cmd: set_dav_password.py
  register: dav_password
  changed_when: "'password updated' in dav_password.stdout"

- name: create vdirsyncer collection directories
  loop:
    - "{{ ansible_facts.env.HOME }}/.vdirsyncer/calendars/default"
    - "{{ ansible_facts.env.HOME }}/.vdirsyncer/addressbooks/default"
  file:
    state: directory
    path: "{{ item }}"
