---
- name: (pc) check access to github
  when: inventory_hostname == "pc"
  command: ssh -T git@github.com
  register: github_access
  changed_when: false
  failed_when: github_access.rc != 1
  ignore_errors: true

- name: clone all repositories
  loop: "{{ git_repositories }}"
  git:
    repo: "{{ secrets.git.remotes.home_server }}/{{ item }}"
    dest: "{{ ansible_facts.env.HOME }}/git/{{ item }}"
    update: false

- name: configure remotes for all repositories
  loop: "{{ git_repositories }}"
  environment:
    GITHUB_ACCESS: "{{ github_access.success | lower }}"
    GITHUB_URL: "{{ secrets.git.remotes.github }}/{{ item }}"
    SERVER_URL: "{{ secrets.git.remotes.home_server }}/{{ item }}"
  script:
    cmd: git_remote_setup.sh
    chdir: "{{ ansible_facts.env.HOME }}/git/{{ item }}"
  register: remote_setup
  changed_when: "'remotes unchanged' not in remote_setup.stdout"

- name: (pc) pull repositories
  loop: "{{ git_repositories }}"
  when:
    - inventory_hostname == "pc"
    - item != "ansible"
  args:
    chdir: "{{ ansible_facts.env.HOME }}/git/{{ item }}"
  shell: git pull --rebase origin $(git branch --show-current)
  register: pull
  changed_when: "'changed' in pull.stdout"

- name: (pc) push to all remotes
  loop: "{{ git_repositories }}"
  when: inventory_hostname == "pc"
  args:
    chdir: "{{ ansible_facts.env.HOME }}/git/{{ item }}"
  shell: |
    set -e
    for remote in $(git remote); do
      git push "$remote" $(git branch --show-current)
    done
  register: push
  changed_when: >
    push.stderr_lines
    | reject('match', 'Everything up-to-date')
    | length > 0

- name: (hs) pull repositories
  when: inventory_hostname == "home_server"
  loop: "{{ git_repositories }}"
  args:
    chdir: "{{ ansible_facts.env.HOME }}/git/{{ item }}"
  shell: git pull --rebase origin $(git branch --show-current)
  register: pull
  changed_when: "'changed' in pull.stdout"
