---
- name: (pc) allow kdeconnect traffic in ufw
  when: inventory_hostname == "pc"
  become: true
  loop:
    - tcp
    - udp
  ufw:
    rule: allow
    port: 1714:1764
    proto: "{{ item }}"
    comment: "kde connect"

- name: allow syncthing traffic in ufw
  become: true
  ufw:
    rule: allow
    name: syncthing

- name: (hs) allow syncthing GUI traffic in ufw
  when: inventory_hostname == "home_server"
  become: true
  ufw:
    rule: allow
    name: syncthing-gui

- name: reload ufw to apply changes
  become: true
  ufw:
    state: reloaded
  changed_when: false

- name: (pc) sync vdirsyncer with the dav server
  when: inventory_hostname == "pc"
  shell: |
    vdirsyncer discover
    vdirsyncer sync
  register: vdirsyncer_sync
  changed_when: "'uploading' in vdirsyncer_sync.stderr"

- name: (pc) configure the vdirsyncer timer service
  when: inventory_hostname == "pc"
  become: true
  loop:
    - {var: "OnBootSec", value: '1m'}
    - {var: "OnUnitActiveSec", value: '5m'}
    - {var: "AccuracySec", value: '1m'}
  lineinfile:
    path: "/usr/lib/systemd/user/vdirsyncer.timer"
    regexp: "{{ item.var }}="
    line: "{{ item.var }}={{ item.value }}"
  register: vdirsyncer_timer_config

- name: enable systemd system services
  when: services.system is defined
  become: true
  loop: "{{ services.system }}"
  systemd:
    state: started
    enabled: true
    name: "{{ item }}"

- name: enable systemd user services
  when: services.user is defined
  loop: "{{ services.user }}"
  vars:
    restart_conditions:
      - "{{ item == 'vdirsyncer.timer' }}"
      - "{{ vdirsyncer_timer_config.changed }}"
  systemd:
    scope: user
    state: "{{ 'restarted' if restart_conditions | all else 'started' }}"
    enabled: true
    name: "{{ item }}"
